<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="sim1000_ip" default="192.168.1.1"/>
  <arg name="sim_loc_param" default="$(find agv_define)/param/sim1000_param/sim_loc_driver.yaml"/> 
  <arg name="sim1000_param" default="$(find agv_define)/param/sim1000_param/sim1000.yaml"/> 

  <include file="$(find sick_lidar_localization)/launch/sim_loc_driver.launch">
    <arg name="localization_controller_ip_address" value="$(arg sim1000_ip)"/>
    <arg name="sim_loc_param" value="$(arg sim_loc_param)"/>
    <arg name="sim1000_param" value="$(arg sim1000_param)"/>
  </include>
  
  <node pkg="control_lidar_localization" type="control_lidar_localization" respawn="false" name="control_lidar_localization" output="screen">
    <rosparam command="load" file="$(arg sim_loc_param)" />
  </node>
</launch>

