<?xml version="1.0"?>
<launch>
  <!-- Arguments -->

  <!-- agv_main -->
  <!-- <node pkg="agv_main" type="agv_main.py" respawn="false" name="agv_main" output="screen"></node> -->

  <node pkg="agv_main" type="agv_main" respawn="false" name="agv_main" output="screen"></node>
  <node pkg="agv_main" type="convertJsonToRosServer.py" respawn="false" name="convertJsonToRosServer" output="screen"></node>

</launch>

